<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Full 조회</title>
</head>

<body>
<a style="margin: 2% 0 0 9.0%" class="btn btn-primary" href="/">홈으로</a>
<h1 id="title">Full 조회</h1>
<br />
<div class="container-fluid" style="width:95%!important">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">full_video</th>
            <th scope="col">date</th>
            <th scope="col">size</th>
            <th scope="col">storage_path</th>
            <th scope="col">user_id</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.full_video }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.size }}</td>
            <td><a href="/video/{{data.full_video}}">{{ data.storage_path }}</a></td>
            <td>{{ data.user_id }}</td>
            <td><a href="/api/full/{{ data.id }}">수정</a></td>
            <td><a href="/api/full/delete/{{ data.id }}">삭제</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>